darkmode{
	background-color:black;
	color:white;
}

darkmode.helvfontupg{
	font-family:helvetica;
	font-size:20px;
	font-style:bold;
}

#edgemode{
	color:red;
	background-color:black;
	font-family:helvetica
	font-size:12px;
	font-style:italic;
}

#bluemode{
	color:blue;
	background-color:gray;
	font-family:helvetica
	font-size:12px;
}

#sectiontwo{
	color:white;
	background-image:url("FH_keyart.jpg");
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	background-size:100%;
}